In [42]:
import sqlite3
import pandas as pd
conn = sqlite3.connect('sales.db')
c = conn.cursor()

In [43]:
####################################### Report 1 #############################################
report1_sql = '''select temperature_master.avg_sf_temperature, sales_2016.item_name, sum(sales_2016.net_quantity)
                 from sales_2016 join temperature_master on sales_2016.sale_date = temperature_master.date
                 group by sales_2016.item_name 
                 order by sum(sales_2016.net_quantity) desc, sales_2016.item_name'''
c.execute(report1_sql)
print(c.fetchall())

[(56, 'Latte', 1945), (68, 'New Orleans Iced Coffee (cup)', 1913), (61, 'Drip Coffee', 1730), (65, 'Cappuccino, Unknown', 1494), (70, 'Mocha', 444), (67, 'S.O. Iced Coffee', 435), (63, 'Americano', 423), (62, 'Espresso', 364), (59, 'NOLA Carton', 337), (66, 'Chemex Coffee', 295), (64, 'Gibraltar', 248), (64, 'S.O. Iced - 4 oz Oji', 234), (60, 'Hot Chocolate', 210), (54, 'Cascara Fizz', 168), (62, 'Macchiato', 166), (60, 'Tea', 144), (69, 'Apple Juice', 130), (57, 'Sparkling Water', 127), (61, 'Au Lait, Unknown', 101), (59, 'Still Water', 61), (59, 'Milk', 43), (62, 'Juice', 23), (54, 'Shakerato', 21), (50, 'Kyoto Iced Coffee', 1), (50, 'Sowden Au Lait', 1)]

In [44]:
report_1 = pd.read_sql_query(report1_sql, conn)
report_1.columns = ['Temperature (Farenheit)','Item Name', 'Number Sold']
report_1

    Temperature (Farenheit)                      Item Name  Number Sold
0                        56                          Latte         1945
1                        68  New Orleans Iced Coffee (cup)         1913
2                        61                    Drip Coffee         1730
3                        65            Cappuccino, Unknown         1494
4                        70                          Mocha          444
5                        67               S.O. Iced Coffee          435
6                        63                      Americano          423
7                        62                       Espresso          364
8                        59                    NOLA Carton          337
9                        66                  Chemex Coffee          295
10                       64                      Gibraltar          248
11                       64           S.O. Iced - 4 oz Oji          234
12                       60                  Hot Chocolate          210
13                       54                   Cascara Fizz          168
14                       62                      Macchiato          166
15                       60                            Tea          144
16                       69                    Apple Juice          130
17                       57                Sparkling Water          127
18                       61               Au Lait, Unknown          101
19                       59                    Still Water           61
20                       59                           Milk           43
21                       62                          Juice           23
22                       54                      Shakerato           21
23                       50              Kyoto Iced Coffee            1
24                       50                 Sowden Au Lait            1